<div class="social-icons">
    <div class="div_center">
        <div class="div_footer">
            <a href="https://www.youtube.com/channel/UCqXn-SB82LUMGIEw7_6Bing" rel="noopener" target="_blank" title="Youtube">
                <img height="45" width="45" src="https://s.lizicai.com/icon/youtube.com/youtube.ico">
            </a>
        </div>
        <div class="div_footer">
            <a href="https://www.ixigua.com/home/97060616507" rel="noopener" target="_blank" title="西瓜视频">
                <img height="45" width="45" src="https://s.lizicai.com/icon/ixigua.com/ixigua.png">
            </a>
        </div>
        <div class="div_footer">
            <a href="{{ "" | absLangURL }}{{"index.xml"}}" rel="noopener" target="_blank" title="RSS订阅">
                <img height="45" width="45" src="https://s.lizicai.com/icon/rss/rss.png">
            </a>
        </div>
        <!--<div class="div_footer">-->
        <!--<a href="https://zhihu.com" rel="noopener" target="_blank"  title="知乎">-->
            <!--<img height="45" width="45" src="https://s.lizicai.com/icon/zhihu.com/zhihu.ico">-->
        <!--</a>-->
        <!--</div>-->
        <div class="div_footer">
            <a href="https://twitter.com/leezicai" rel="noopener" target="_blank"  title="推特">
                <img height="45" width="45" src="https://img.actiger.com/ico/other/twitter-favicon.png">
            </a>
        </div>
        <div class="div_footer">
            <a href="https://t.me/lizicai" rel="noopener" target="_blank" title="电报频道">
                <img height="45" width="45" src="https://s.lizicai.com/icon/telegram.org/telegram.svg">
            </a>
        </div>
        <div class="div_footer">
            <a href="https://space.bilibili.com/407308197" rel="noopener" target="_blank" title="哔哩哔哩">
                <img height="45" width="45" src="https://s.lizicai.com/icon/bilibili.com/bilibili.png">
            </a>
        </div>
        <!--<div class="div_footer">-->
            <!--<a href="https://www.douyin.com/user/MS4wLjABAAAANWkAg-qr4wW3SmIV322o313OyQXEQXMXnMRvWXYa2is" rel="noopener" target="_blank"  title="抖音">-->
                <!--<img height="45" width="45" src="https://s.lizicai.com/icon/douyin.com/douyin.ico">-->
            <!--</a>-->
        <!--</div>-->
    </div>
    {{- range . }}
    <a href="{{ trim .url " " }}" target="_blank" rel="noopener noreferrer me" title="{{ .name | title }}">
        {{ partial "svg.html" . }}
    </a>
    {{- end }}
</div>
