
<div style="display:flex;justify-content: center;text-align:center;">
<div style="margin-left: 1px;margin-right: 1px">
    <img src="{{ .Get "src1" }}" alt="{{ .Get "title1" }}" style="max-width: {{ .Get "max-width" }}px; max-height: {{ .Get "max-height" }}px;">
    <p>{{ .Get "title1" }}</p>
</div>
<div style="margin-left: 1px;margin-right: 1px ">
    <img src="{{ .Get "src2" }}" alt="{{ .Get "title2" }}" style="max-width: {{ .Get "max-width" }}px; max-height: {{ .Get "max-height" }}px;">
<p>{{ .Get "title2" }}</p>
</div>
</div>
