
<div style=" display:flex; justify-content:center; align-items: center;padding: 0px;" >
    <div >
        <img height="{{ .Get "len"  }}px" width="{{ .Get "len"  }}px" alt="{{ .Get "t" }}" src="https://s.lizicai.com/icon/tags/{{ .Get "t" }}.png"></img>
    </div>
    <div>
        <img height="{{ .Get "len"  }}px" width="{{ .Get "len"  }}px" alt="{{ .Get "t" }}" src="https://s.lizicai.com/icon/tags/{{ .Get "t" }}.png"></img>
    </div>
    <div>
        <img height="{{ .Get "len"  }}px" width="{{ .Get "len"  }}px" alt="{{ .Get "t" }}" src="https://s.lizicai.com/icon/tags/{{ .Get "t" }}.png"></img>
    </div>
</div>

