.not-found {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 36px;
    font-weight: 360;
}
.not-found a{
    margin-left: 10px;
    color:var(--theme);
    background-color: var(--mylinkcolor);
    border-radius:10px; padding: 0px 8px 0px 8px;
}
